*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-evenly;
    row-gap: 15px;
    background-image: url('images/background.png');
    background-size: cover;
    background-attachment:fixed;
}
.header{
    display: flex;
    justify-content: center;
    font-size: large;
    flex-wrap: wrap;
    font-weight: 400;
    text-align: center;
}
section{
    height:100vh;
    overflow: auto;
    min-height: min-content;
    width: 31%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    padding:40px;
    background-color: rgba(255, 255, 255, 0.7);
    row-gap: 15px;
    border-radius: 0.4rem;
}

.searchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBar{
    width: 40%;
    padding: 6px 10px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:whitesmoke;
}
.searchBar:focus{
    outline: none;
}
.favourites{
   display: flex;
   justify-content: center;
}
.pokemons{
    display: flex;
    column-gap: 40px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemonCard:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.pokemonCard:hover>div{
    background-color:rgb(181, 216, 144);
    color:rgb(31, 31, 31);
}
.pokemonCard>img{
    padding:15px 0 15px 0;
    height: 100px;
    width: 100px;
}

aside{
    display: flex;
    position: relative;
    width: 31%;
    justify-content: center;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

aside::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgb(25, 25, 25);
    opacity: 0.5;
    position:absolute;
    filter: blur(1.3rem);
    border-radius: 1rem;
}

.pokemonCard{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px rgb(83, 83, 83);
    align-items: center;
    border-radius: 0.2rem;
    min-width: 150px;
    max-width: 150px;
    box-shadow: 8px 8px 17px -10px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
}

.pokemonCard > div{
    display: flex;
    justify-content: center;
    background-color: rgb(123, 122, 122);
    color:rgb(234, 234, 234);
    width:100%;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
}
.selectedPokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: solid rgb(62, 62, 62) 1px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.selectedPokemon::before{
    content: "";
    height: 200%;
    width: 300%;
    top:-50%;
    position:absolute;
    background: conic-gradient(
    rgba(255, 0, 0, 0.6) 0%,
    rgba(255, 154, 0, 0.6) 10%,
    rgba(208, 222, 33, 0.6) 20%,
    rgba(79, 220, 74, 0.6) 30%,
    rgba(63, 218, 216, 0.6) 40%,
    rgba(47, 201, 226, 0.6) 50%,
    rgba(28, 127, 238, 0.6) 60%,
    rgba(95, 21, 242, 0.6) 70%,
    rgba(186, 12, 248, 0.6) 80%,
    rgba(251, 7, 217, 0.6) 90%,
    rgba(255, 0, 0, 0.6) 100% );
    z-index: 1;
    animation: rainbow 3s infinite linear;
    
}
@keyframes rainbow {
    0%{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.selectedPokemon::after{
    content: "";
    top: 2.5%;
    height:95%;
    width: 100%;
    z-index: 1;
    position: absolute;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: rgb(92, 92, 92,1);
    
}
.selectedPokemon > div{
    padding-top: 20px;
    z-index: 2;
    color:whitesmoke;
}

.selectedPokemonStats > p{
    margin: 5px;
}
.selectedPokemonAtributes{
    display: flex;
    flex-direction: column;
}
.selectedPokemonAtributes > div{
    display: flex;
}
.selectedPokemonHeader{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
}
.selectedPokemonHeader > p{
    overflow: hidden;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.selctedPokemonImage{
    padding:20px;
    width: 40%;
    max-height: 200px;
    z-index: 2;
    animation: fadein 0.8s;
}
.selectedPokemonWeight{
    justify-content: center;
}
.selectedPokemonHeight{
    justify-content: center;
}
.selectedPokemonStats{
    flex-direction: column;
    align-items: center;
}
.selectedPokemonTypes{
    justify-content: space-around;
    
}
.selectedPokemonFavouriteIcon{
    width:33px;
    height: 33px;
    margin-bottom: 5px;
}
.selectedPokemonFavouriteButton{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.previous{
    width:30px;
    height: 30px;
}
.next{
    width:30px;
    height:30px;
}

.favouriteButton{
    border: none;
    cursor: pointer;
    background-color: rgb(122, 122, 122);
    color:rgb(234, 234, 234);
    font-size: large;
    padding: 8px 0px 8px 0px;
    width: 40%;
    border-radius: 0.2rem;
    transition-duration: 0.3s;
}
.favouriteButton:hover{
    background-color:rgb(181, 216, 144);
    color:rgb(31, 31, 31);
}
.pagination{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}



@media (max-width:1300px){
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 40px;
        
    }
    .pokemons{
        padding-left: 20px;
        padding-right: 20px;
    }
    .pokemonCard{
        max-width: 50%;
        
    }
    .favouriteButton{
        width: 60%;
    }
    .pagination>button{
        width: 25px;
        height: 25px;
    }
    .searchBar{
        width: 60%;
    }
    section{
        width: 50%;
        min-width: 500px;
        column-gap: 0px;
        height: max-content;
    }
    
    aside{
        width: 50%;
        min-width: 500px;
        padding: 0;
    }
    .pokemonCard >div{
        font-size: medium;
        overflow: hidden;
    }
    .selctedPokemonImage{
        width: 45%;
        padding: 5px;
    }
   
    
    .favouriteButton{
        font-size: medium;
    }
}
@media (max-width:650px){
    
    .favouriteButton{
        width: 250px;
    }
    .searchBar{
        width: 250px;
    }
     .pokemonCard{
       max-width: 250px;
       min-width: 250px
     }
     .pokemonCard>img{
        display: none;
     }
    
     aside{
        width: 100%;
        min-width: 0;
     }
     .selectedPokemon{
        border-radius: 0px;
     }
     section{
        border-radius: 0;
        width: 100%;
        min-width: 0;
     }
     
}