
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-evenly;
    row-gap: 15px;
    background-image: url('images/background.png');
    background-size: cover;
    background-attachment:fixed;
    margin: 0;
}

section{
    height: calc(100vh - 80px);
    overflow: auto;
    min-height: min-content;
    width: 31%;
    display: flex;
    flex-direction: column;
    padding:40px;
    background-color: rgba(255, 255, 255, 0.8);
    row-gap: 15px;
    border-radius: 0.4rem;
}
section h5{
    display: flex;
    justify-content: center;
}
.searchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchBar{
    width: 40%;
    padding: 6px 10px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:whitesmoke;
}
.searchBar:focus{
    outline: none;
}
.favourites{
   display: flex;
   justify-content: center;
}
.pokemons{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
    justify-content: center;
}
.pokemonCard:hover{
    border: solid rgb(87, 87, 87);
    background-color: lightgrey;
}
.pokemonCard:hover>div{
    color:white;
    background-color: grey;
}
.pokemonCard>img{
    padding:15px;
    height:75px;
    width:75px;
}

aside{
    display: flex;
    position: relative;
    width: 31%;
    justify-content: center;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}
aside::before{
    content: "";
    height: 100%;
    width: 100%;
    background-color: darkgrey;
    opacity: 0.5;
    position:absolute;
    filter: blur(2px);
    border-radius: 0.5rem;
}

.pokemonCard{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border:solid grey;
    border-radius: 0.4rem;
    min-width: 150px;
    max-width: 150px;
    box-shadow: 8px 8px 17px -10px rgba(66, 68, 90, 1);
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
}

.pokemonCard > div{
    display: flex;
    justify-content: center;
    background-color:darkgrey;
    color:black;
    width:100%;
    padding: 5px 0px 5px 0px;
    overflow: hidden;
}
.selectedPokemon{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 0.5rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border: solid rgb(62, 62, 62) 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.selectedPokemon::before{
    content: "";
    height: 200%;
    width: 300%;
    top:-50%;
    position:absolute;
    background: conic-gradient( rgba(255, 0, 0, 0.6) 0%, rgba(255, 154, 0, 0.6) 10%, rgba(208, 222, 33, 0.6) 20%, rgba(79, 220, 74, 0.6) 30%, rgba(63, 218, 216, 0.6) 40%, rgba(47, 201, 226, 0.6) 50%, rgba(28, 127, 238, 0.6) 60%, rgba(95, 21, 242, 0.6) 70%, rgba(186, 12, 248, 0.6) 80%, rgba(251, 7, 217, 0.6) 90%, rgba(255, 0, 0, 0.6) 100% );
    z-index: 1;
    animation: rainbow 3s infinite linear;
}
@keyframes rainbow {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.selectedPokemon::after{
    content: "";
    top: 2.5%;
    height:95%;
    width: 100%;
    z-index: 1;
    position: absolute;
    border-top: solid 1px;
    border-bottom: solid 1px;
    background-color: rgb(92, 92, 92);
}
.selectedPokemon > div{
    padding-top: 20px;
    z-index: 2;
    color:whitesmoke
}
.selectedPokemonStats > p{
    margin: 5px;
}
.selectedPokemonAtributes{
    display: flex;
    flex-direction: column;
    
    
}
.selectedPokemonAtributes > div{
    display: flex;
}
.selectedPokemonHeader{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 500;
}
.selctedPokemonImage{
    padding:20px;
    width: 40%;
    max-height: 200px;
    z-index: 2;
}
.selectedPokemonWeight{
    justify-content: center;
}
.selectedPokemonHeight{
    justify-content: center;
}
.selectedPokemonStats{
    flex-direction: column;
    align-items: center;
}
.selectedPokemonTypes{
    justify-content: space-around;
    
}
.selectedPokemonFavouriteIcon{
    width:33px;
    height: 33px;
}
.selectedPokemonFavouriteButton{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}
.previous{
    width:30px;
    height: 30px;
}
.next{
    width:30px;
    height:30px;
}
.favouriteButton{
    border: none;
    cursor: pointer;
    border: solid 2px grey;
    background-color: lightgray;
    font-size: large;
    padding: 8px;
    border-radius: 1rem;
    transition-duration: 0.3s;
}
.favouriteButton:hover{
    background-color:gray ;
    color: white;
    border: solid 2px rgb(68, 68, 68);
}
.pagination{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

@media (max-width:500px){
    .pokemonCard > img {
        display: none;
     }
     .pokemonCard{
        width: 50%;
     }
     
}

@media (max-width:1150px){
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        row-gap: 40px;
        
    }
    .searchBar{
        width: 60%;
    }
    section{
        width: 50%;
        column-gap: 0px;
        height: max-content;
    }
    
    aside{
        width: 50%;
        margin-top: 0px;
    }
    
    
    .pokemonCard{
        min-width: 30px;
    }
    .pokemonCard >div{
        font-size: x-small;
        overflow: hidden;
    }
    .pokemonCard > img {
       max-width: 60px;
       max-height: 60px;
    }
    .selectedPokemonHeader{
        font-size : medium;
    }
    .selctedPokemonImage{
        width: 45%;
        padding: 5px;
    }
    .selectedPokemonAtributes{
        font-size: smaller;
    }
    .selectedPokemonFavouriteIcon{
        width: 25px;
        height: 25px;
    }
    .selectedPokemonStats > p{
        margin: 0;
    }
    .favouriteButton{
        font-size: small;
    }
    section h5{
        margin: 0;
    }
}